.footer__column-links {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 16px;
    padding-left: 0;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
}